<div class="container-fluid main-container" >
  <div class="background-blur background-create-island" 
    style="background-image:url('/static/img/island_background.png');min-height:813px;">
  </div>
  <div class="create-island-panel padding-2">
    <h3>創造遊戲</h3>
    <div class="spacer"></div>
    <h4>玩家：3人</h4>
    <!-- <div class="btn-group padding">
      <label class="btn btn-default btn-lg" ng-model="islandCapacity" uib-btn-radio="3" uncheckable>3人</label>
      <label class="btn btn-default btn-lg" ng-model="islandCapacity" uib-btn-radio="4" uncheckable>4人</label>
    </div> -->
    <h4>使用的英文單字(可自行修改)</h4>
    <textarea name="words" class="words-area" id=""ng-model="words"></textarea>
    <div class="padding">
      <button class="btn btn-warning btn-block btn-lg" ng-click="createisland()">開始任務</button>
    </div>
  </div>
</div>